<head>
  <title>About us</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="app/assets/stylesheets/default.css">
  <link rel="stylesheet" type="text/css" href="app/assets/stylesheets/about_us_style.css">
  <link href="https://fonts.googleapis.com/css?family=Black+Han+Sans:400" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Markazi+Text" rel="stylesheet">
</head>

<body>

	<div class = "content">
		<h1 class = "title_text">About us</h1>
		<p>
		There is a lot of documentation on both, so you can just pick one that seems like you'll be more comfortable with. If you're coming from PHP, you may already be familiar with MySQL. If you're new to databases, I'd suggest skipping to setting up PostgreSQL.
		</p>
	</div>

	<div class = "title">
		<h1 id = "b_team">Brueut Team</h1>
		<div class = "container">
			<div class ="row char">
				<div class = "col-md-2"></div>
				<div class = "col-md-2">
					<span class = "dot"></span>
				</div>
				<div class = "col-md-2">
					<span class = "dot"></span>
				</div>
				<div class = "col-md-2">
					<span class = "dot"></span>
				</div>
				<div class = "col-md-2">
					<span class = "dot"></span>
				</div>
				<div class = "col-md-2">
				</div>
			</div>
			<div class ="row char">
				<div class = "col-md-2"></div>
				<div class = "col-md-2 char_intro">
					<p lang = "ko">프로젝트 총괄</p>
					<p lang = "ko">김승현</p>
				</div>
				<div class = "col-md-2 char_intro">
					<p>디자인 및 기획</p>
					<p>송융</p>
				</div>
				<div class = "col-md-2 char_intro">
					<p>웹 개발</p>
					<p>정다슬</p>
				</div>
				<div class = "col-md-2 char_intro">
					<p>웹 개발</p>
					<p>정우형</p>
				</div>
				<div class = "col-md-2"></div>

			</div>

		</div>
		</div>
	</div>

	<div class = "content">
		<h2 class = "title_text">Sponser</h2>
		<div class = "container">
			<div class ="row">
				<div class = "col-md-1"></div>
				<div class = "col-md-2">
					<div class = "sponser1"></div>
				</div>
				<div class = "col-md-2">
					<div class = "sponser1"></div>
				</div>
				<div class = "col-md-2">
					<div class = "sponser1"></div>
				</div>
				<div class = "col-md-2">
					<div class = "sponser1"></div>
				</div>
				<div class = "col-md-2">
					<div class = "sponser1"></div>
				</div>
				<div class = "col-md-1"></div>
			</div>

		</div>
	</div>

	<!-- bottom section -->
	<div class = "bottom">
		<div class = "b_text">
			<p>
			전체 공지사항 | 문의/신고 | 브루이웃 운영팀: brueut@gmail.com
			</p>
		<hr>
			<p>
			Copyright (C) www.brueut.com All rights reserved.
			</p>
		</div>
	</div>

  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
	<script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>


</body>
